<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DatabaseServerInstance"
			 providerName="Microsoft.Data.SqlClient"
			 connectionString=
			 "Server=10.56.8.36;
			 Database=DB_F23_13;
			 User Id=DB_F23_USER_13;
			 Password=OPENDB_13;
			 TrustServerCertificate=true;
			 "/>
	</connectionStrings>
</configuration>

